.personal-stats {

}

.stats-flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.self-end {
    justify-self: end;
}

.green-text {
    color: green;
}

.up-arrow {
    height: 15px;
    color: green;
    padding-left: 8px;
    padding-right: 3px;
}