.stats-flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.self-end {
    justify-self: end;
    display: flex;
    align-items: center;
}

.green-text {
    color: #00BF13;
}

.red-text {
    color: #FF1F00;
}

.up-arrow {
    height: 15px;
    color: green;
    padding-left: 8px;
    padding-right: 3px;
}

.p {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 0;
    margin-bottom: 0;
}