.header { 
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.carousel {
  min-height: 160px;
}

.block {
  background: linear-gradient(139.22deg, rgba(0, 26, 255, 0.58) 5.89%, rgba(251, 63, 255, 0.29) 92.31%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;

  max-width: 150px;
  height: 150px;
  min-height: 160px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;

  color: #FFFFFF;
}